<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--====form section start====-->
<div class="user-detail">
    <h2>Create Instructor Data</h2>
    <form action="/users/create" method="post">
          <label>Instructor ID</label>
          <input type="text" placeholder="Enter ID" name="ID" required>
          <br>
          <label>Instructor Name</label>
          <input type="text" placeholder="Enter Name" name="name" required>
          <br>
          <label>Department name</label>
          <input type="text" placeholder="Enter department name" name="dept_name" required>
          <br>
          <label>Salary</label>
          <input type="number" placeholder="Enter Salary" name="salary" required>
          <button type="submit">Submit</button>
        </div>
</div>
<!--====form section start====-->
</body>
</html>
