@import './font/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Colors */
  --black: #040418;
  --grey: #a4b2bc;
  --grey-1: #a4b2bc80;
  --white: #fff;
  --pink: #FF6279;

  --background: rgba(255, 255, 255, 0.4);
}

html {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: Consolas, monaco, monospace;
  margin: 0;
  padding: 0;
}
#kazlo{
  position: relative;
}