.logo {
    margin: 0 auto;
    height: 60px;
    padding: 10px;
}
.navbar {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    border-top: 1px solid var(--p-dark);
    width: 100%;
}
.navbar.space{
    margin-top: auto;
}
.ContainerOpen{
    width: 15rem;
}
.ContainerClose{
    width: 5rem;
}
.TextOpen{
    display: block;
}
.TextClose{
    display: none;
}
.primary_btn{
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    appearance: button;
    padding: 13px 28px;
}