
:root {
  --p-white: #fff;
  --p-dark: #040418;
  --p-pink: #ff6279;
  --p-input-text: #ecebeb;
  --p-gray: #999;
  --p-s-text: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  background: var(--p-white);
  color: var(--p-dark);
}

a {
  text-decoration: none;
  color: var(--p-white);
}

/* Scroll */
::-webkit-scrollbar{
	width: 16px;
}
::-webkit-scrollbar-track{
	background: var(--p-input-text);
	/* border-radius: 8px; */
}
::-webkit-scrollbar-thumb{
	background: var(--p-dark);
	height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}