main{
    height: 100vh;
    margin: 0;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }
  @media screen and (max-width: 767px) {
    main{
    margin-top: 100px;
    width: 100%;
    }
  }
  .MainOpen {
    width: calc(100% - 5rem);
  }
  .MainClose {
    width: calc(100% - 15rem);
  }