.post-items{
    display: grid;
    flex-wrap: wrap;
}
.post-item{
    width: 100%;
    background-color: var(--p-white);
    border-radius: 10px;
    margin: 10px auto;
    padding: 40px;
    box-shadow: var(--p-bs-header);
}
.user_md {
    display: flex;
    align-items: center;
}
.user_img{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--p-bg);
    border-radius: 9999px;
    background-repeat: no-repeat;
    background-size: 2.5rem 2.5rem;
    box-shadow: var(--p-bs-header);
}
.user_img > a > img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--p-bg);
    border-radius: 9999px;
    box-shadow: var(--p-bs-header);
}
.user_name_link {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    appearance: button;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
}
.user_post_time {
    font-size: 12px;
    padding: 0 10px;
    color: var(--p-dark-6);
}
.user_post_container {
    margin: 20px 40px;
}
.user_post_title > h2{
    margin: 5px 10px;
    font-size: 2rem;
}
.user_post_hashtags{
    margin: 10px;
}
.user_post_hashtag{
    margin: 0;
    color: var(--p-dark-4);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #fff;
}
.user_post_content {
    margin: 20px 10px;
}
.user_post_content > p {
    line-height: 25px;
    font-size: 16px;
    margin: 20px 0;
}
.user_post_full {
    margin: 20px 0;
}
.user_post_link {
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
    appearance: button;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    float: right;
}
.user_post_link_a {
    color: var(--p-pink-8);
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #fff;
}
.user_post_hashtag:hover, .user_post_link_a:hover{
    border: 1px solid var(--p-pink);
}